
/web/themes/custom/droopler_subtheme/node_modules
/web/themes/custom/droopler_subtheme/package-lock.json
/web/profiles/contrib/droopler/themes/custom/droopler_theme/node_modules
/web/profiles/contrib/droopler/themes/custom/droopler_theme/package-lock.json
/web/sites/default/files/
/web/sites/default/private_files/
web/sites/default/local.settings.php
