.paragraph--type--d-p-side-image {
  @include media-breakpoint-up(md) {
    .image-side {
      &-right,
      &-right-wide {
        .container-half {
          margin-left: auto;
        }
      }
      &-left,
      &-left-wide {
        .container-half {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }
}
